.App {
  text-align: center;
}

.App-header {
  /* Motted glassed effect */
  background: rgba(245, 245, 245, 0.5);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 15vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header::before,
.App-header::after {
  content: '';
  left: 0px;
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}
.App-header::before {
  backdrop-filter: url(#noiseFilter);
  z-index: 2;
}
.App-header::after {
  backdrop-filter: blur(5px);
  z-index: 1;
}
